<!DOCTYPE html>
<html lang="pt-br">
    
    <%- include('../partials/head') %>

<body class="container">
    
    <%- include('../partials/header', {pagina: 'Sobre'}) %>

    <main>
        <div class="p-5 mb-4 bg-light">
            <h1>Sobre mim</h1>
            <p>Oi sou Matheus Silvestre Estudante de programação da Rocketseat</p>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>